<div class="flex items-center flex-col mt-130px mb-30px max-w-800px w-full mx-auto">
  <h1 class="flex justify-center text-6xl bg-pale-yellow rounded-3xl font-bold py-10px px-30px mb-30px w-full", style="width: 430px"><%= t('.title') %></h1>
  <h3 class="flex justify-center text-28px bg-gray rounded-3xl font-bold py-10px px-15px mb-100px w-full", style="width: 550px">教材選びに失敗した事がありませんか？</h3>
  <!-- 資格ノートの説明 -->
  <div class="flex justify-center items-center flex-col bg-pale-yellow rounded-3xl p-20px w-full mb-50px">
    <p class="font-bold text-28px mb-20px"><%= t('.title') %>の説明</p>
    <p class="text-28px"><%= t('.title') %>は自分に合った教材を見つけれるサービスです</p>
  </div>

  <!-- 資格ノートの説明 -->
  <div class="flex justify-center items-center flex-col bg-pale-yellow rounded-3xl p-20px w-full">
    <p class="font-bold text-28px mb-30px">サービス機能</p>
    <div class="flex justify-center">
      <!-- ログイン前 -->
      <div class="flex flex-col bg-white rounded-3xl font-bold py-30px px-15px mr-40px w-full", style="width: 350px">
        <p class="flex justify-center font-bold text-2xl mb-20px">ログイン前</p>
        <li class="font-bold text-xl ml-20px">教材一覧閲覧</li>
      </div>
      <!-- ログイン後 -->
      <div class="flex flex-col bg-white rounded-3xl font-bold py-30px px-15px w-full", style="width: 350px">
        <p class="flex justify-center font-bold text-2xl mb-20px">ログイン後</p>
        <ul class="list-disc list-inside ml-20px">
          <li class="font-bold text-xl">学習中の資格登録</li>
          <li class="font-bold text-xl">使用した教材を登録</li>
          <li class="font-bold text-xl">教材一覧閲覧</li>
          <li class="font-bold text-xl">教材をお気に入り機能</li>
        </ul>
        
      </div>
    </div>
    
  </div>
</div>
