<div class="flex justify-center flex-col max-w-800px w-full mx-auto ">
  <div class="flex flex-row items-center bg-top_gray w-800px mt-50px mb-50px">
    <div class="flex flex-col text-center text-20px ml-50px">
      <div class="mb-30px"><p class="text-20px font-bold">教材選びに失敗した事がありませんか？</p></div>
      <p class="text-20px font-bold">教材チョイスでは</p>
      <p class="text-20px font-bold">自分に合った教材をみつけられます</p>
    </div>
    <div class="my-10px"> 
      <%= image_tag 'top.png', :size =>'350x350' %>
    </div>
  </div>
  
  <%# 教材チョイスとは？ %>
  <div class="collapse collapse-plus bg-pale-yellow w-5/6 mx-auto mb-15px">
    <input type="checkbox" />
    <div class="collapse-title text-20px text-center md:text-xl font-bold">
      教材チョイスとは？
    </div>
    <p class="collapse-content text-16px list-disc">教材チョイスは、使用した教材について評価を行い、各ユーザーと評価内容を共有できるサービスです。</p>
  </div>

  <%# 教材検索&登録機能 %>
  <div class="collapse collapse-plus bg-pale-yellow w-5/6 mx-auto mb-15px">
    <input type="checkbox" />
    <div class="collapse-title text-20px text-center md:text-xl font-bold">
      教材登録機能
    </div>
    <div class="collapse-content text-16px list-disc">
      <p>教材を新しく登録する事が出来ます。</p>
      <p>登録時には教材評価と評価理由コメントも記載して他のユーザーに評価内容を共有しましょう。</p>
    </div>
  </div>

  <%# 教材一覧機能 %>
  <div class="collapse collapse-plus bg-pale-yellow w-5/6 mx-auto mb-15px">
    <input type="checkbox" />
    <div class="collapse-title text-20px text-center md:text-xl font-bold">
      教材一覧機能
    </div>
    <div class="collapse-content text-16px list-disc">
      <p>各ユーザーが登録した教材を共有する事ができます。</p>
      <p>教材評価は各ユーザーが評価した平均点になるため、より公平な評価になります。</p>
    </div>
  </div>

  <%# SNSへのシェア&通販サイトへのアクセス %>
  <div class="collapse collapse-plus bg-pale-yellow w-5/6 mx-auto mb-30px">
    <input type="checkbox" />
    <div class="collapse-title text-20px text-center md:text-xl font-bold">
      SNSへのシェア&通販サイトへのアクセス
    </div>
    <div class="collapse-content text-16px list-disc">
      <p>教材チョイスでは、作成した教材をSNS(X)でシェアする事ができます。</p>
      <p>他のユーザーとの交流を深めましょう。</p>
    </div>
  </div>
</div>


