<% content_for(:title, t('.title')) %>
<div class="flex flex-row w-full">
  <%= render 'profile/sidebar' %>
  <div class="flex flex-col">
    <h2 class="mt-30px text-3xl font-bold"><%= t('.title') %></h3>
    <div class="min-w-610px mt-5px border-2 border-gray rounded-md flex justify-center ">
      <%= render 'form', qualification: @qualification %>
    </div>  
  </div>
</div>