<div class="flex flex-col justify-center w-full max-w-1090px mx-auto">
  <%= render 'profiles/index' %>
  <!-- 資格一覧 -->
  <div class="flex flex-col justify-center mb-30px">
    <div class="flex flex-col sm:flex-row items-center justify-center mb-10px">
      <h2 class="text-30px font-bold sm:mr-30px"><%= t('.title') %></h2>
      <div class="bg-pale-blue hover:bg-dark-blue rounded-md", style= "width:200px; height:38px;">
        <%= link_to t('.qualification_addition'), new_qualification_path, class: "flex items-center justify-center w-full h-full text-xl text-white font-bold" %>
      </div>
    </div>
    <!-- 登録した資格一覧を表示 -->
    <% if @qualifications.present? %>
      <div class="flex flex-wrap justify-center w-full gap-2.5">
        <%= render 'index' %>
      </div>
    <% else %>
      <div class="text-center mt-20px">
        <p>資格が登録されていません。</p>
        <p>資格を追加してください</p>
      </div>
    <% end %>
  </div>
</div>