<!-- 楽天アイコン -->
<div class="flex flex-row items-center">
  <%= link_to "https://search.rakuten.co.jp/search/mall/#{CGI.escape(@material.title)}", target: "_blank", rel: "noopener", style: "display: inline-block;" do %>
    <%= image_tag 'rakuten.jpg', class: "h-10 w-10" %>
  <% end %>
  <!-- Twitterアイコン -->
  <div class="ml-10px">
    <%= link_to "https://twitter.com/share?url=#{material_url(@material)}&text=#{CGI.escape("登録した教材は#{@material.title} 
      https://www.kyouzaichoice.com/")}", 
                target: '_blank', title: "Xでシェア",class: "bg-slate-950 text-white py-2 px-2.5 rounded-[5px] text-lg", rel: 'noopener noreferrer' do %>
      <i class="fa-brands fa-x-twitter"></i>
    <% end %>
  </div>
</div>

