<footer class="w-full">
  <nav class="w-full bg-thin-orange right-0">
    <div class="flex justify-center items-center space-x-12 p-4">
      <%= link_to t('footer.term_of_service'), '#', class:"text-lg" %>
      <%= link_to t('footer.privacy_policy'), '#', class:"text-lg" %>
      <%= link_to t('footer.inquiry'), '#', class:"text-lg" %>
    </div>
    <p class="flex justify-center pb-4">© 2024 資格取ろ！ - All right reserved</p>
  </nav>
</footer>