<footer>
  <nav class="w-full bg-header-orange">
  <div class="flex justify-center items-center space-x-12 p-4">
    <%= link_to '利用規約', '#', class:"text-lg" %>
    <%= link_to 'プライバシーポリシー', '#', class:"text-lg" %>
    <%= link_to 'お問い合わせ', '#', class:"text-lg" %>
  </div>
  <p class="flex justify-center pb-4">© 2024 資格取ろ！ - All right reserved</p>
  </nav>
</footer>