<footer class="w-full">
  <nav class="w-full bg-thin-gray right-0">
    <div class="flex justify-center items-center space-x-12 p-4">
      <%= link_to t('footer.term_of_service'), term_of_service_path, class:"text-lg font-bold" %>
      <%= link_to t('footer.privacy_policy'), privacy_policy_path, class:"text-lg font-bold" %>
      <%= link_to t('footer.inquiry'), 'https://docs.google.com/forms/d/e/1FAIpQLScqRK72MeJPMdaPUnYWLZJMearNYY7tiCdpIlBer1JEkuu3pw/viewform', class:"text-lg font-bold" %>
    </div>
    <p class="flex justify-center pb-4 font-bold">© 2024 資格取ろ！ - All right reserved</p>
  </nav>
</footer>