<% if current_user %>
  <% if @material.material_evaluations.exists?(user_id: current_user.id)  %>
    <div class="ml-auto flex flex-row justify-end mb-5px">
      <%= link_to edit_material_path(@material), class:'flex justify-center items-center bg-thin-orange hover:bg-pale-orange h-7 w-7 rounded-full mr-10px' do %>
        <i class="fa-sharp fa-solid fa-pencil fa-lg"></i>
      <% end %>
      <%= link_to material_path(@material), class:'flex justify-center items-center bg-pale-pink hover:bg-dark-pink h-7 w-7 rounded-full', data: { turbo_method: :delete } do %>
        <i class="fa-solid fa-trash"></i>
      <% end %>
    </div>
  <% end %>
<% end %>