<% content_for(:title, t('.title')) %>
<div class="flex flex-row w-full">
  <%= render 'profile/side_bar' %>
  <div class="flex flex-col mb-30px">
    <h3 class="mt-30px text-28px font-bold"><%= t('.title') %></h3>
    <%= render 'form' %>
  </div>
</div>