<% content_for(:title, t('.title')) %>
<div class="flex justify-center">
  <div class="w-full max-w-600px mb-30px">
    <h2 class="text-30px my-30px text-center font-bold"><%= t('.title') %></h2>
    <%= render 'form' %>
  </div>
</div>