<div class="min-w-250px min-h-600px border-2 border-gray rounded-md mt-50px mr-50px ml-30px mb-30px pt-20px ">
  <div class= "mx-25px p-15px hover:bg-pale-orange rounded-md" ><%= link_to t('profile.user'), profile_user_path, class: "text-xl" %></div>
  <div class= "mx-25px p-15px hover:bg-pale-orange rounded-md" ><%= link_to t('profile.qualification'), "#", class: "text-xl" %></div>
  <div class= "mx-25px p-15px hover:bg-pale-orange rounded-md" ><%= link_to t('profile.material'), "#", class: "text-xl" %></div>
</div>