<div class="min-w-250px min-h-700px border-2 border-gray rounded-md mt-50px mr-50px ml-30px mb-30px pt-30px ">
  <div class="text-xl ml-40px mb-30px hover:bg-pale-orange">ユーザー情報</div>
  <div class="text-xl ml-40px mb-30px">資格</div>
  <div class="text-xl ml-40px mb-30px">教材</div>
  <div class="text-xl ml-40px mb-30px">投稿</div>
</div>